/* ======================================
   MOBILE LANGUAGE SWITCHER
====================================== */

@media (max-width:768px){

header{
    display:none;
}

.mobile-language-switcher{

    position:fixed;

    top:18px;

    right:18px;

    z-index:99999;

    display:flex;

    align-items:center;

    gap:8px;

    font-size:15px;

    font-weight:600;

}

.mobile-language-switcher button{

    background:none;

    border:none;

    color:#fff;

    cursor:pointer;

    font-size:15px;

    font-weight:600;

    padding:0;

}

.mobile-language-switcher span{

    color:#D4AF37;

}

}
/* ======================================
   Armenian + English + Russian Font Size (Mobile)
====================================== */

@media (max-width:768px){

html[lang="hy"] .hero h1,
html[lang="en"] .hero h1,
html[lang="ru"] .hero h1{
    font-size:30px !important;
    line-height:1.2;
    letter-spacing:-0.3px;
}

html[lang="hy"] .hero p,
html[lang="en"] .hero p,
html[lang="ru"] .hero p{
    font-size:15px;
    line-height:26px;
}

html[lang="hy"] h2,
html[lang="en"] h2,
html[lang="ru"] h2{
    font-size:28px;
}

html[lang="hy"] h3,
html[lang="en"] h3,
html[lang="ru"] h3{
    font-size:22px;
}

html[lang="hy"] p,
html[lang="en"] p,
html[lang="ru"] p,
html[lang="hy"] a,
html[lang="en"] a,
html[lang="ru"] a,
html[lang="hy"] button,
html[lang="en"] button,
html[lang="ru"] button{
    font-size:15px;
}

}
/* ======================================
   SMALLER FLOATING ICONS (MOBILE)
====================================== */

@media (max-width:768px){

   .floating-buttons{

right:10px;

bottom:12px;

gap:8px;

}

.floating-buttons a{

width:42px;

height:42px;

border-radius:50%;

}

.floating-buttons img{

width:42px;

height:42px;

display:block;

border-radius:50%;

}

#backToTop{

right:58px;

bottom:12px;

width:42px;

height:42px;

display:flex;

justify-content:center;

align-items:center;

}

#backToTop img{

width:42px;

height:42px;

}

}
